.cards-ad-process > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cards-ad-process > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.cards-ad-process .cards-ad-process-card-body {
  margin: 0;
}

.cards-ad-process .cards-ad-process-card-image {
  line-height: 0;
}

.cards-ad-process > ul > li img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (width >= 900px) {
  .cards-ad-process > ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .cards-ad-process > ul > li {
    flex: 1;
  }
}
