.cards-team-detail > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 32px;
}

.cards-team-detail > ul > li {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.cards-team-detail .cards-team-detail-card-image {
  line-height: 0;
  border-radius: 4px;
  overflow: hidden;
}

.cards-team-detail .cards-team-detail-card-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.cards-team-detail .cards-team-detail-card-body {
  margin-top: 12px;
}

.cards-team-detail .cards-team-detail-card-body h2,
.cards-team-detail .cards-team-detail-card-body h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--body-font-size-m);
  margin: 12px 0;
}

.cards-team-detail .cards-team-detail-card-body p {
  font-weight: 300;
  font-size: var(--body-font-size-s);
}

.cards-team-detail .cards-team-detail-card-body ul {
  margin: 8px 0 0;
  padding-left: 20px;
}

.cards-team-detail .cards-team-detail-card-body ul li {
  font-weight: 300;
  font-size: var(--body-font-size-s);
  margin-bottom: 4px;
}
